body{
	text-align: center;
	font-family: work sans;
	background-image: url(Images/fundo.PNG);
	background-size: cover;
	background-attachment: fixed;
	color: white;
}

.foto{
	padding-top: 55px;
}

h1{
	font-size: 70px;
	margin-top: 0px;
	margin-bottom: 0px;
}

h2{
	margin-top: 0px;
	font-size: 20px;
	font-family: work sans thin;
	letter-spacing: 1px;

}

p{
	color: gray;
	margin-top: 35px;
	margin-bottom: 0px;
}

.areas{
	color: gray;
	padding-left: 0;
	margin-top: 5px;
	margin-bottom: 0px;
}

.areas li{
	display: inline-block;
	font-size: 11.5px;
	font-weight: bold;
	padding: 5px 20px;

}

.lista{
	list-style: none;
	padding-left: 0;
	margin-top: 30px;
}

.lista li{
	display: inline-block;
	padding: 5px 5px;
}


.lista a{
	color:white;
	font-size: 20px;
}


